<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- Plugin CSS Start -->
    <%- defineContent('css') %>
    <!-- Plugin CSS End -->
  </head>
  <body>
    <!-- page-wrapper Start -->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <!-- Page Header Start-->
      <%- include ./partials/header %>
      <!-- Page Header Ends -->
    </div>
    <!-- page-wrapper End -->

    <!-- Plugin JS Start -->
    <%- defineContent('script') %>
    <!-- Plugin JS End -->
  </body>
</html>
